@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
  --swiper-theme-color: #fcbe24 !important;
}

.gradient-bg {
  left: 0;
  top: 0;
  position: absolute;
  width: 70%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    #0c0c0c 35%,
    rgba(12, 12, 12, 0.6),
    rgba(31, 31, 31, 0)
  );
  z-index: 2;
}

.swiper-container {
  width: 100%;
  height: 400px;
}

.swiper-pagination-bullet {
  opacity: 1;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  /* width: 100%; */
  height: 100%;
  object-fit: cover;
}

.oneline {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.catalog {
  margin: 0 auto;
  grid-template-columns: 1fr 250px;
}

@media (max-width: 768px) {
  .catalog {
    display: block;
  }
}
